//-
//- STANDARD META TAGS
//-

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0')

block metaDescription
  meta(name='description', content='')
block metaKeywords
  meta(name='keywords', content='')

block title
  title !{title}

link(rel='stylesheet', href='/assets/dist/index.css')

block headScripts

link(rel='shortcut icon', href='/assets/images/meta/favicon.ico')
