@import url('https://fonts.googleapis.com/css?family=Open+Sans:300')

//- Colors
:root
  --color-white: #fafafa
  --color-black: #0c0c0c
  --color-darkgrey: #0e0e0e

//- Typo

:root
  --base-font-family: 'Open Sans', sans-serif
  --base-heading-font-weight: 500
  --base-font-size: 20px
  --base-font-weight: 300
  --base-line-height: 24px
  --base-text-color: #FFF

//- Grid

:root
  --grid-gutter: 0px
  --grid-max-width: 100%

//- Oversize mq
@custom-media --iphone4 screen and (max-width: 320px) and (max-height: 480px)
@custom-media --tablet screen and (min-width: 667px)
@custom-media --desktop screen and (min-width: 1025px)
@custom-media --oversize screen and (min-width: 1500px)
