extend ../layout

block content

    canvas.canvas

    section.info
        .table-wrapper
            .table-cell
                h1 THIS

    section.info
        .table-wrapper
            .table-cell
                h1 IS A

    section.info
        .table-wrapper
            .table-cell
                h1 PLACEHOLDER

    section.info
        .table-wrapper
            .table-cell
                h5 by
                h1 TOM HARDMAN
