// //- Reset styles
@import 'sourdough-reset/index.styl'
//
// //- Sourdough setup
@import 'sourdough-typography/index.styl'
@import 'sourdough-grid/index.styl'

//- Globals
@import 'globals/_vars.styl'
@import 'globals/_typo.styl'

//- Components
@import 'components/base.styl'
// @import 'components/header.styl'
// @import 'components/footer.styl'
// @import 'components/a11y-navigation.styl'

//- Pages
@import 'pages/home.styl'

//- Plugin css
