body
  background-color: white
  overflow: hidden

.table
  display: table
  width: 100%
  height: 100%

.table-cell-valign
  display: table-cell
  text-align: center
  vertical-align: middle

.cont
  box-sizing: border-box
  width: 100vw
  height: 100vh
  opacity: 0
  transition: opacity 0.2s
