.block
  width: 100%
  height: 100%
  transition: background-color 110ms linear
  overflow: hidden
  &:hover
    background-color: white

.block--1
  background-color: rgb(5, 187, 245)
  &:hover
    .table
      .table-cell-valign
        .block__letter
          color: rgb(5, 187, 245)
    .floating--1
      -webkit-text-stroke-color: rgb(255, 115, 185)

.block--4
  background-color: rgb(255, 115, 185)
  &:hover
    .table
      .table-cell-valign
        .block__letter
          color: rgb(255, 115, 185)
    .floating--4
      -webkit-text-stroke-color: rgb(5, 187, 245)

.block__letter
  color: white
  font-size: 15em
  font-family: 'Impact'
  transition: color 110ms linear

.cont__block
  width: 50vw
  height: 50vh
  float: left
  position: relative

.floating
  position: absolute
  font-family: 'Impact'
  font-size: 15em
  transform: translate(-50%, -50%)
  transition: 110ms linear
  -webkit-text-stroke-width: 1px

.floating--1
  color: white
  clip-path: inset(0 50% 50% 0)
  top: 100%
  left: 100%
  -webkit-text-stroke-color: white

.floating--2
  top: 100%
  left: 0
  clip-path: inset(0 0 50% 50%)
  color: rgb(255, 115, 185)
  -webkit-text-stroke-color: rgb(255, 115, 185)

.floating--3
  top: 0
  left: 100%
  clip-path: inset(50% 50% 0 0)
  color: rgb(5, 187, 245)
  -webkit-text-stroke-color: rgb(5, 187, 245)

.floating--4
  top: 0
  left: 0
  clip-path: inset(50% 0 0 50%)
  color: white
  -webkit-text-stroke-color: white
