doctype html
html
    head
        title tomhardman0.github.io - Temporary placeholder
        link(rel="stylesheet", type="text/css", href="build/index.css")
    body
        h1 Tom Hardman
    
    script(type="text/javascript", src="build/app.js")
