doctype html
html
  head
    
    meta(charset="utf8")
    
    title tomhardman0.github.io - Temporary placeholder
    link(rel="stylesheet", type="text/css", href="build/index.css")
  body
    h1 Tom Hardman
    
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js")
  script(type="text/javascript", src="build/app.js")
