doctype html
html
  head
    
    meta(charset="utf8")
    
    title  Tom Hardman
    link(rel="stylesheet", type="text/css", href="build/index.css")
    
  body
    
      //- .floating.floating--1 J
      //- .floating.floating--2 J
      //- .floating.floating--3 J
      //- .floating.floating--4 J
    
      section.cont__block
        .block.block--1
          .table
            .table-cell-valign
              .block__letter T
          .floating.floating--1 J
    
      section.cont__block
        .floating.floating--2 J
        
      section.cont__block
        .floating.floating--3 J
        
      section.cont__block
        .block.block--4
          .table
            .table-cell-valign
              .block__letter H
          .floating.floating--4 J
      
    
  script(type="text/javascript", src="build/app.js")
