.home
  width: 100vw
  height: 100vh
  background-color: transparent

.frame
  position: absolute
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  border: 10px solid
  border-color: var(--color-black)
  z-index: 10
  pointer-events: none
  transition: 0.5s

.frame--white
  border-color: var(--color-white)

.fullscreen
  width: 100vw
  height: 100vh

.absolute--off
  position: absolute
  top: 0
  left: -100vw
  transition: 0.5s

.absolute--on
  left: 0

.panel--1
  background: linear-gradient(to bottom right, var(--color-black) , var(--color-darkgrey))
  z-index: -15


h1
  text-align: center
  color: var(--color-white)
  font-size: 6em
  font-family: var(--base-font-family)
  font-weight: var(--base-font-weight)
  letter-spacing: -5px
  padding: 5vh 5vw
